/* FaceVerification.css */

/* Styles for the container holding the webcam and verification status */
.face-verification-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #171717; /* Dark background color */
    color: #fff; /* Text color */
    font-family: Arial, sans-serif;
  }

  .webCam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  .login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40%;
  }

  .login p{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
  }

  .webCam p{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
  }

  .line{
    
    width: 1px;
    border: 0.6px solid rgba(255, 255, 255, 0.586);
    height: 80vh;
    margin-right: 50px;
    margin-left: 50px;
  }

  .login button{
    background-color: brown;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
  }
  
  /* Style for the capture button */
  .capture-button {
    background: #007bff; /* Blue background color */
    color: #fff; /* Text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 20px 0; /* Add margin to separate from the webcam */
  }
  
  .capture-button:hover {
    background: #0056b3; /* Darker blue on hover */
  }
  
  /* Style for the image preview */
  .image-preview {
    max-width: 400px;
    margin: 20px 0;
  }
  
  /* Style for the verification status message */
  .verification-status {
    font-size: 18px;
  }
  
  .webcam{
    max-width: 450px;
  }