/* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
} */
.chatbot_body{
display: flex;
justify-content: center;
align-items: center;
padding: 50px;
}

.chatbot-container {
  width: 100%;
  min-width: 700px; /* Reduced minimum width for better responsiveness */
  height: 80vh; /* Reduced height for better visibility */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ccc;
  
  border-radius: 12px; /* Increased border radius for a softer look */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Added box shadow for depth */
}

.chatbox {
  flex: 1; /* Make the chatbox scrollable within the container */
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
}

.message {
  margin: 10px;
  padding: 10px;
  max-width: 70%; /* Limited message width for better readability */
  border-radius: 12px;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 1.4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Added message box shadow */
}

.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.bot {
  background-color: #f1f1f1;
  color: #333;
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc; /* Added border to separate chatbox and input field */
}

.input-field {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 19px;
  outline: none;
  font-size: 16px;
  line-height: 1.4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Added input field box shadow */
}

.send-button {
  background-color: #4CAF50; /* Changed button color to green */
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 0px;
  transition: background-color 0.2s; /* Added button transition */
}

.send-button:hover {
  background-color: #45A843; /* Change button color on hover */
}

.voice-assistant-button{
  background-color: #5774d3; /* Changed button color to green */
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-left: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.send-button:hover {
  background-color: #45A843; /* Change button color on hover */
}